metadata/
data/
archive/
.Rhistory
.RData
.Rproj.user
bin/bin.Rproj
bin/prueba_error_instalacion_paquetes.R
bin/BayeScan2.1
bin/PGDSpider_2.1.1.5
bin/plink_1.09
results/ipyrad_qlobata_qmacdou
results/niche_model_WC_actual
data/var.79.inds.sorted.vcf
